body {
    background-color: #dad7cd;
}

/* h1 {
    background-color: #344e41;
    color: white
} */

/* main {
    background-color: #588157;
    color: white
} */

/* html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, em, img, small, strong, ol, ul, li, fieldset, form, label, legend, button, article, aside, embed, footer, header, hgroup, nav {
    margin: 0;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
} */

/* h1 {
    color: #344e41;
}

h2 {
    color: #3a5a40;
}

h3 {
    color: #588157;
}

h4 {
    color: #4f772d
}

p, ul, ol, summary, form {
    color: #90a955;
} */

/* p {
    font-size: 1.2 rem;
    color: darkblue;
} */

/* p:hover {
    background-color: lightgreen;
}

.highlight {
    color: red;
} */


/* order of the properties matter in case you have conflicting properties */

/* take all the article tags that have a parent, p
article p {
    color: green
} */

/* all the p tags which have the immediate parent as article tag
article > p {
    color: green
} */


/* * {
    font-family: Arial;
} */

/* if you want something to have css properties with id of fourth and class gray
#fourth, .gray {
    color: blue 
} */

/* margin order is top, right, bottom, left */

/* p {
    font-size: 1.2rem;
    color: darkgreen;

    &:hover {
        background-color: lightgreen;
    }
} */

/* all h2 tags next to h1 tags
h1 + h2 {
    color: blue;
} 
h1:has(+ h2) {
    color: blue
} */

/* article:has(ul) {
    color: purple;
} */
