@import url(vars.css);

@font-face {
    font-family: 'CustomFont';
    src: url();
}

body {
    background-color : #dad7cd;
	color : black;
	font-size : 1.25em;
    font-family: 'CustomFont', 'Times New Roman', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    clear: both;
    background-color: rgb(11, 54, 11); 
    color : #dad7cd;
    padding: 0.5em;
    margin-top: 0;
}
footer p {
    margin-left: 2em;
}

/* Header & Navigation Bar */
header {
    background-color: rgb(11, 54, 11); 
    color: rgb(255, 255, 255); 
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin-left: 2em;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline; 
    margin-right: 4em;
}
nav a {
    text-decoration: none;
    color: white;
}
nav a:hover {
    text-decoration: underline;
}

/* About Me */
#about-me-container {
    background-color: black;
    color: rgb(221, 221, 221);
    padding: 0.5em;
}
#about-me-container h2 {
    margin-left: 30vh;
}
#about-me-container p {
    margin-left: 30vh;
}
#about-me-container img {
    margin-top: 5vh;
    margin-right: 30vh;
}

/* Contact */
.contact-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 2em;
    margin-left: 30vh;
    margin-right: 30vh;
}
.contact-button {
    padding: 0.5em;
    background-color: #5e8b62;
    color: #fff;
    text-decoration: none;
    border-radius: 10%;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
    margin-bottom: 1em;
}
.contact-button:hover {
    background-color: #0056b3;
}

/* Get In Touch */
#get-in-touch-container h2 {
    text-align: center;
}
#get-in-touch-container form {
    width: 66%;
    margin: 0 auto;
}
#get-in-touch-container input, textarea {
	width: 100%;
	margin-bottom: 1em;
	padding: 0.5em;
	border: 1px solid black;
}
#get-in-touch-container input {
    height: 2em;
}
#get-in-touch-container textarea {
	height: 4em;
}
#get-in-touch-container button {
	width: 10%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
	height: 2em;
	background: #5e8b62;
	color: #fff;
	border: 1px solid black;
    transition: background-color 0.3s ease;
}
#get-in-touch-container button:hover {
    background-color: #0056b3;
}

/* Education */
.education-container {
    padding: 0.5em;
    margin-bottom: 1em;
    margin-right: 2em;
}
.education-container h2, .education-container h3, .education-container p {
    margin-left: 380px;
}
.education-container h2, .education-container h3 {
    color: #001e64;
}

/* Left Aligning Image */
.left-float {
    float: left;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
}
.left-float img {
    /* try and make image scalable */
    max-width: 15em;
    height: auto;
}

/* Right Aligning Image */
.right-float {
    float: right;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
.right-float img {
    /* try and make image scalable */
    max-width: 10em;
    height: auto;
}

/* Experience Headings */
.experience-headings {
    text-align: center;
}

/* Experience */
.experiences-container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}
.experience {
    padding: 0.5em;
    /* background-color: rgb(52, 52, 52); */
    /* color: white; */
    color: black;
    border: 1px solid black;
    margin: 0.5em;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Project */
.projects-container {
    display: flex;
}
.project {
    padding: 0.5em;
    flex: 1;
    background-color: black;
    margin: 0.5em;
    border: 1px solid white;
    color: rgb(221, 221, 221);
}
.project h4 {
    text-align: center;
}
.center-video {
    display: block;
    margin: 0 auto;
    width: 90%;
}
.project-buttons {
    display: flex;
    justify-content: space-around;
}
.project-button {
    padding: 0.2em;
    background-color: #5e8b62;
    color: #fff;
    text-decoration: none;
    border-radius: 1em;
    transition: background-color 0.3s ease;
    font-size: 1.5em;
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
}
.project-button:hover {
    background-color: #0056b3;
}

/* Certification */
.certifications-container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
}
.certification {
    padding: 0.5em;
    /* background-color: rgb(52, 52, 52); */
    margin: 0.5em;
    /* color: white; */
    color: black;
    border: 1px solid black;
}
