@import url(vars.css);

body {
    background-color : #dad7cd;
	color : black;
	font-size : 1.25em;
}

h1 {
    padding: 1em;
    text-align: center;
	color : rgb(255, 255, 255);
	font-size : 2em;
	margin-bottom: 0.5em;
    background-color: rgb(11, 54, 11);
}

h2 {
    clear: both;
	/* color : #747674;
	font-size : 1.5em;
	font-style : italic;
	margin-top : .5em; */
}

h3 {

}

p {
	/* line-height : 1.5; */
	/* width : 70ch; */
	/* text-align : justify; */
}

footer {
    clear: both;
}

.top {
    clear: both;
}

/* Navigation Bar */
nav {
    background-color: #333;
    font-size: 1em; 
}
nav ul {
    list-style-type: none; 
    display: flex; 
    justify-content: space-around; 
    padding: 0; 
}
nav a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}
nav a:hover {
	text-decoration : underline;
} 

/* Right Aligning Image */
.right-float {
    float: right;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
}

/* Experience */
.experiences-container {

}
.experience {
    padding: 0.5em;
    background-color: rgb(122, 160, 132);
    margin: 0.5em;
}

/* Project */
.projects-container {
    display: flex;
}
.project {
    padding: 0.5em;
    flex: 1;
    background-color: rgb(122, 160, 132);
    margin: 0.5em;
    border: 0.25em solid black;
}
.center-video {
    display: block;
    margin: 0 auto;
    width: 90%;
}

/* Certification */
.certifications-container {

}
.certification {
    padding: 0.5em;
    background-color: rgb(122, 160, 132);
    margin: 0.5em;
}
