:root {
    --background-color: #dad7cd; 
    --text-color: rgb(0, 0, 0);
    --body-size: 1.25em;
    --heading-color: rgb(255, 255, 255);
    --heading-size: 2em;
    --heading-text-color: rgb(11, 54, 11);
    --subheading-color: #747674;
    --subheading-size: 1.5em;
    --footer-bg-color: rgb(11, 54, 11);
    --footer-text-color: #dad7cd;
}
